{% extends 'index.html' %}

		{% block content %}
		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-title mt-5">Past History</h3> </div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<form>
							<div class="row formtype">
								<div class="col-md-4">
									<div class="form-group">
										<label>Head Trauma</label>
										<input class="form-control" type="text" value="" placeholder="When">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Neonatal Jaundice</label>
										<input class="form-control" type="text" value="" placeholder="When"> </div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Asthma</label>
										<input type="text" class="form-control" id="usr1" value="" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Diarrhea</label>
										<input type="text" class="form-control" id="usr1" value="" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Diarrhea Recurrent</label>
										<input class="form-control" type="text" value="" placeholder="When"> </div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Food Poisoning</label>
										<div class="cal-icon">
											<input type="text" class="form-control datetimepicker" value="" placeholder="When"> </div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Effect of Vaccination</label>
										<div class="time-icon">
											<input type="text" class="form-control" id="datetimepicker3" value="" placeholder="When"> </div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Febrile Convulsion</label>
										<div class="cal-icon">
											<input type="text" class="form-control datetimepicker" value="" placeholder="When" placeholder="When"> </div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Pneumonia</label>
										<div class="cal-icon">
											<input type="text" class="form-control datetimepicker" value="" placeholder="When" placeholder="When"> </div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Recurrent Cold & Cough</label>
										<input type="text" class="form-control" id="usr" value="" placeholder="When" placeholder="When"> </div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Tonsilities</label>
										<input type="text" class="form-control" id="usr1" value="" placeholder="When" placeholder="When"> 
									</div>
								</div>


								<div class="col-md-4">
									<div class="form-group">
										<label>Tonsilities</label>
										<input type="text" class="form-control" id="usr1" value="" placeholder="When" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Whooping Cough</label>
										<input type="text" class="form-control" id="usr1" value="" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Measles</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Chiken Pox</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>


								<div class="col-md-4">
									<div class="form-group">
										<label>Typhoid</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Malaria</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Chikenguniya</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Jaundice</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Skin disease</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>--------------------------------Skin------------------------------------------------
								<div class="col-md-4">
									<div class="form-group">
										<label>Boils</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Eczema</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Fungal</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Pimple</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Ringwarm</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Urticaria</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Herpes Zoster</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Psoriasis</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Leucoderma</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Bites
										<select class="form-control" id="sel2" name="sellist1">
											<option>Cat</option>
											<option>Rat</option>
											<option>Dog</option>
											<option>Scorpion</option>
										</select>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Electric Shock</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Burns</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Lymph Node Operated</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Veneral DIS</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Postpone Menses</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Masturbation</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Septicemia</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Bell's Palsy</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
------------------------------Surgeries---------------------------------------------------------------------
								
								<div class="col-md-4">
									<div class="form-group">
										<label>Surgeries</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Tonsillectomy</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Appendix</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Gall Bladder</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Nasal Polys</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Inguinal Hernia</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Hydrocele</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Warts</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Style</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Opheretomy</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Lipoma</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Others</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Osteoporisis</label>
										<input type="text" class="form-control" id="usr1" placeholder="When"> 
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<button type="button" class="btn btn-primary buttonedit1" style="margin-left: 650px;">Save </button>
			</div>
		</div>
		<button type="button" class="btn btn-primary buttonedit1" style="float:right;">Next</button>
	</div>
	{% endblock %}
	<script src="assets/js/jquery-3.5.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/plugins/raphael/raphael.min.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/bootstrap-datetimepicker.min.js"></script>
	<script src="assets/js/script.js"></script>
	<script>
	$(function() {
		$('#datetimepicker3').datetimepicker({
			format: 'LT'
		});
	});
	</script>
</body>

</html>